@charset "utf-8";
/* CSS Document */

body {
	
	
	
	
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	margin:0 auto;
	text-align:center;
	width:1300px;
	height:60px;
	margin:10 auto 10px auto;
	
	
	
}
#bd1 {
	background-image:url(images/url.jpg);
	text-align:center;
	font-size:16px;
	font-weight: bold;
	font-size:16px;
	font-weight: bold;
	word-spacing:1px;
	
}
#bd2 {
	background-image:url(images/url.jpg);
}
#bd3 {
	background-image:url(url.jpg);
	

}
#bd4 {
	background-image:url(images/url.jpg);
.header{
	font-size:22px;
	color:#093;
	text-align:center;
}

	

nav {
	height:40px;
	width:1233px;
	background-color:#0CF;
	font-size:16px;
	position:fixed;
	top: 10%;
	left: 83px;
	font-weight: bold;
	font-size:16px;
	font-weight: bold;
}

section {
	border:#006 solid groove;
	position: fixed;
	top: 20%;
	
	
}

a:link {
		color: BLACK;
		text-decoration:none;
	}
		
a:hover {
		color:#333;
		text-decoration:none;
	}
a:visited {
	color: #000;
	text-decoration:none;
}
a:active {
	color:#F00;
	text-decoration:none;
}

.p {	
	text-align:center;
}




